

<header id="header" class="sticky-style-2 mt-3 mb-3">

			<div class="container clearfix d-flex align-items-center">

				<!-- Logo
				============================================= -->
				<div id="logo" class="divcenter">
					<a href="/" class="standard-logo"><img class="divcenter" src="images/logo.png" alt="Logo"></a>
				</div><!-- #logo end -->

			</div>

			<div id="header-wrap">

				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-2 center">

					<div class="container clearfix">

						<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

						<ul>
							<li class=""><a href="/">
									<div>Home</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/about-us">
									<div>About Us</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/jobs">
									<div>Jobs</div>
								</a>
							</li>
						</ul>
						<ul>
							<li class=""><a href="/contact">
									<div>Contact</div>
								</a>
							</li>
						</ul>
						
						<% if(currentUser) {%>
						<ul>
							<li class=""><a href="/logout">
									<div>Logout</div>
								</a>
							</li>
						</ul>
						<% } %>
				</nav><!-- #primary-menu end -->

			</div>

		</header><!-- #header end -->