<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
		rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/dark.css" type="text/css" />

	<!-- Agency Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/css/agency.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=c0bb62" type="text/css" />

	<link rel="stylesheet" href="css/custom.css">

	<!-- Document Title
	============================================= -->
	<title>Creative Staffing Services | Home</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<% include ./partials/header %>
		

		<section id="slider" class="slider-element boxed-slider mb-5 image">

			<div class="container-fluid clearfix">

				<div id="oc-slider d-flex">

					<img src="images/1.jpg" alt="Slider" style="width:100%">
					<h1>the creative staffing services difference</h1>
				</div>
			</div>

		</section>

		<section id="about-us">

			<div class="content-wrap">

				<div class="container-fluid clearfix">

					<h1>Industries</h1>
					<div id="portfolio" class="portfolio grid-container portfolio-2 clearfix">

						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image"
								style="background:url(https://images.unsplash.com/photo-1534470686156-ed1c44a2ec34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center;background-size:cover">
								<img style="opacity:0;" src="images/portfolio/2/1.jpg" alt="Open Imagination">
								<h5 class="p-4 text-white">Finance</h5>
								<p class="p-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
									earum perferendis
									temporibus sunt animi quia? Alias corporis soluta officiis quibusdam porro, nihil
									distinctio magnam nulla, ullam quidem suscipit dolores, aliquam dolor nisi! Impedit
									alias ex deleniti facere repellat aperiam libero dignissimos cum, magnam earum ad
									dolorem corrupti asperiores nihil, animi odio veritatis est sed illo eveniet dolorum
									eius! Debitis, consequatur. Eligendi fugiat enim voluptas dignissimos aliquid.
									Explicabo exercitationem expedita facilis deserunt dolorem. Dolor, ducimus?
									Perspiciatis ipsum porro quas odio delectus voluptatum quibusdam asperiores
									nesciunt! Nesciunt qui cupiditate deserunt neque, enim quos saepe atque praesentium
									suscipit alias dignissimos, vero nulla hic.</p>

							</div>
						</article>
						<article class="portfolio-item pf-media pf-icons">
							<div class="portfolio-image"
								style="background:url(https://whyy.org/wp-content/uploads/2019/02/file-20190208-174894-km1hbx-768x511.jpg)center; background-size:cover">
								<img style="opacity:0;" src="images/portfolio/2/1.jpg" alt="Open Imagination">
								<h5 class="p-4 text-white">Law</h5>
								<p class="p-4 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
									earum perferendis
									temporibus sunt animi quia? Alias corporis soluta officiis quibusdam porro, nihil
									distinctio magnam nulla, ullam quidem suscipit dolores, aliquam dolor nisi! Impedit
									alias ex deleniti facere repellat aperiam libero dignissimos cum, magnam earum ad
									dolorem corrupti asperiores nihil, animi odio veritatis est sed illo eveniet dolorum
									eius! Debitis, consequatur. Eligendi fugiat enim voluptas dignissimos aliquid.
									Explicabo exercitationem expedita facilis deserunt dolorem. Dolor, ducimus?
									Perspiciatis ipsum porro quas odio delectus voluptatum quibusdam asperiores
									nesciunt! Nesciunt qui cupiditate deserunt neque, enim quos saepe atque praesentium
									suscipit alias dignissimos, vero nulla hic.</p>

							</div>
						</article>


					</div><!-- #portfolio end -->


				</div>

			</div>

		</section><!-- #content end -->


		<!-- Footer
		============================================= -->
		<footer id="footer">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
						<div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-light si-rounded si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-light si-rounded si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>

						<div class="clear"></div>

					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

</body>

</html>